body {
  font-family: 'Archivo', sans-serif;

}
/*area 1 formatting*/
.area-1{
  float:right;
  margin-top: 0px;
  display: inline-block;

}
h1{
  color: red;
  padding: 0 25% 0 0;
  font-family: arial black;
}

.area-1 p{
  color: red;
  text-align: center;
  font-weight: 900;
}
.area-1 h3, .area-1 h2{
  text-align: center;
}
.area-1 em{
  color: black;
  font-style: normal;
}
.left p {
  float: left;

}
.right p {
  float: right;
  clear: right;
}
.center p {
 display: inline-block;
 padding: 0 45%;
}

.area-1 h3{
  margin-top: 0;
  padding-top: 0;
  letter-spacing: 2.5px;

}

.area-1 h2{
  margin-bottom: 0;
  scroll-padding-bottom: 0;
}
/* area 21*/

.area-211{
  border-right-color: red;
 /* float: left;*/
  border-radius: 1px;
  border-left: none;
  border-bottom: none;
  border-top: none;
  border-right-style: solid;
  display: inline-block;
}
.area-211 h2{
  background-color: red;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
.area-211 h3{
  text-transform: uppercase;
  color: red;
}
.area-211 h5{
 display: inline-block; 
 float: right;
 margin-right: 5px;
 background-color: red;
 color: white;
border-radius: 3px;
padding-top: 1px;
padding-bottom: 1px;

}
.area-211 p{
  display: inline-block;
  font-weight: bolder;

}
/*area 212*/
.area-212{
  border-right-color: red;
 /* float: left;*/
  border-radius: 1px;
  border-left: none;
  border-bottom: none;
  border-top: none;
  border-right-style: solid;
  display: inline-block;
}
.area-212 h3 {
  text-transform: uppercase;
}
.area-212 h5 {
  display: inline-block;
}
.area-212 p {
  display: inline-block;
}
.area-212 br{
  margin:0px;
}
.pollo {
  text-align: center;
  
}
.pollo p{
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 18px; 
   margin: 0 auto 0 auto;
}
.red {
  color: red;
}
/*area 23*/
.area-23{
  background-color: red;
  color: white;
  font-style: italic;
}
.area-23 h2 {
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 8px;
}
.area-23 h5 {
  display: inline-block;
  float: right;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.area-23 p{
 display: inline;
 margin: 0px;
 margin-top: 5px;
 padding: 0px;
 float: left;
}

.area-23 h3{
  display: inline-block;
  float: left;
  margin: 0;
}

.area-23 em{
  font-weight: 900;
}

/*area-24*/
.area-24 h2{
  background-color: red;
  color: white;
  border-radius: 5px;
}
.area-24 p {
  text-align: center;
  font-style: italic;
}
.area-24 em{
  font-weight: bolder;
  font-style: normal;
}

/*area-25*/
.area-25 h2{
  background-color: red;
  color: white;
  border-radius: 5px;
}

.area-25 h5{
 display: inline-block; 
 float: right;
 margin: 0;

}
.area-25 p{
 display: inline;
 margin: 0px;
 margin-top: 5px;
 padding: 0px;
 float: left;
}